<?xml version="1.0"?>
<!--
/**
 * @category    Trio
 * @package     Wizard
 */
-->
<config>
	<modules>
		<Trio_Wizard>
			<version>1.0.0</version>
		</Trio_Wizard>
	</modules>
	<global>
		<helpers>
            <wizard>
                <class>Trio_Wizard_Helper</class>
            </wizard>
        </helpers>
		<blocks>
			<wizard>
				<class>Trio_Wizard_Block</class>
			</wizard>
			<page>
				<rewrite>
					<html_head>Trio_Wizard_Block_Page_Html_Head</html_head>
				</rewrite>
			</page>
		</blocks>
		<models>
			<wizard>
				<class>Trio_Wizard_Model</class>
				<resourceModel>wizard_mysql4</resourceModel>
			</wizard>
			<wizard_mysql4>
				<class>Trio_Wizard_Model_Mysql4</class>
				<entities>
					<group>
						<table>wizard_group</table>
					</group>
					<wizard>
						<table>wizard_wizard</table>
					</wizard>
					<wizard_category>
						<table>wizard_category</table>
					</wizard_category>
					<wizard_page>
						<table>wizard_page</table>
					</wizard_page>
					<wizard_store>
						<table>wizard_store</table>
					</wizard_store>
				</entities>
			</wizard_mysql4>
		</models>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<wizard_layout_generate_observer>
						<type>singleton</type>
						<class>wizard/layout_generate_observer</class>
						<method>loadScripts</method>
					</wizard_layout_generate_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
		<resources>
			<wizard_setup>
				<setup>
					<module>Trio_Wizard</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</wizard_setup>
			<wizard_read>
				<connection>
					<use>core_read</use>
				</connection>
			</wizard_read>
			<wizard_write>
				<connection>
					<use>core_write</use>
				</connection>
			</wizard_write>
		</resources>
               
    </global>
	<frontend>
		<routers>
            <wizard>
                <use>standard</use>
                <args>
                    <module>Trio_Wizard</module>
                    <frontName>wizard</frontName>
                </args>
            </wizard>
        </routers>
		<layout>
			<updates>
				<wizard>
					<file>wizard.xml</file>
				</wizard>
			</updates>
		</layout>
		<translate>
                    <modules>
                        <Trio_Wizard>
                            <files>
                                <default>Trio_Wizard.csv</default>
                            </files>
                        </Trio_Wizard>
                    </modules>
        </translate>
	</frontend>
	<admin>
		<routers>
			<wizard_admin>
				<use>admin</use>
				<args>
					<module>Trio_Wizard</module>
					<frontName>admin_wizard</frontName>
				</args>
			</wizard_admin>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<wizard>
					<file>wizard.xml</file>
				</wizard>
			</updates>
		</layout>
		<translate>
                    <modules>
                        <Trio_Wizard>
                            <files>
                                <default>Trio_Wizard.csv</default>
                            </files>
                        </Trio_Wizard>
                    </modules>
                </translate>
	</adminhtml>
    <default>
        <wizard>
            <general>
                <enabled>1</enabled>
                    <enable_jquery>1</enable_jquery>
                    <version_jquery>latest</version_jquery>
                    <thumbnail_upload_width>200</thumbnail_upload_width>
            </general>
        </wizard>
    </default>
</config>

