<?xml version="1.0"?>
<config>
  <modules>
    <Trio_Wizard>
      <version>0.1.0</version>
    </Trio_Wizard>
  </modules>
  <frontend>
    <routers>
      <wizard>
        <use>standard</use>
          <args>
            <module>Trio_Wizard</module>
            <frontName>wizard</frontName>
          </args>
      </wizard>
    </routers>
		<layout>
		  <updates>
			<wizard>
			  <file>wizard.xml</file>
			</wizard>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <wizard>
        <class>Trio_Wizard_Helper</class>
      </wizard>
    </helpers>
	<blocks>
	  <wizard>
		<class>Trio_Wizard_Block</class>
	  </wizard>
	</blocks>
	<models>
	  <wizard>
		<class>Trio_Wizard_Model</class>
		<resourceModel>wizard_mysql4</resourceModel>
	  </wizard>
	  <wizard_mysql4>
		<class>Trio_Wizard_Model_Mysql4</class>
		<entities>		  
			  <wizard>
				<table>wizard</table>
			  </wizard>
        </entities>
	  </wizard_mysql4>
	</models>
	<resources>
	  <wizard_setup>
		<setup>
		  <module>Trio_Wizard</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </wizard_setup>
	  <wizard_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </wizard_write>
	  <wizard_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </wizard_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <wizard>
	    <use>admin</use>
		<args>
		  <module>Trio_Wizard</module>
		  <frontName>wizard</frontName>
		</args>
	  </wizard>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <wizard module="wizard">
		<title>Wizard</title>
		<sort_order>50</sort_order>
		<children>
		  <!--wizardbackend module="wizard">
			<title>Wizard Backend Page Title</title>
			<sort_order>0</sort_order>
			<action>wizard/adminhtml_wizardbackend</action>
		  </wizardbackend-->
		  <wizard module="wizard">
		    <title>Manage Wizard</title>
			<sort_order>0</sort_order>
			<action>wizard/adminhtml_wizard</action>
		  </wizard>
		</children>
	  </wizard>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<wizard translate="title" module="wizard">
			  <title>Wizard</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <wizardbackend translate="title">
			<title>Wizard Backend Page Title</title>
		  </wizardbackend>
		  <wizard translate="title">
			<title>Manage Wizard</title>
			<sort_order>0</sort_order>
		  </wizard>
			  </children>
			</wizard>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<wizard>
		  <file>wizard.xml</file>
		</wizard>
	  </updates>
	</layout>
  </adminhtml>
</config> 