/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2013-10-19 01:44:08 */


body {
	color: #595959;
        }
a { 
    color: #aec900; 
        }
a:hover { color: #f24e08; }
button.button span { 
    background: #aec900; 
    color: #ffffff; 
        }
button.button:hover span { background: #f24e08; color: #ffffff; }
button.button:active span { background: #f24e08; color: #ffffff; }
.sale-product-icon { background: #f24e08; color: #ffffff; }
.new-product-icon { background: #aec900; color: #ffffff; }
#opc-review .data-table tfoot td.last strong .price, #opc-review td.last .price, .cart .totals tfoot td .price, .cart-table td.sub-total, .top-cart .qty-price .price, .block .regular-price, .block .regular-price .price, .price-box .price, .special-price .price { 
    color: #f24e08; 
        }
.block .block-title strong {
        }
.page, .header, .header .header-topbar, .header h1.page-title { background: transparent; }
.page { background-image: url(http://mp2.dev.3io.nl/media/wysiwyg/trio/texture/default/11.png); background-color: #f1f1f1; }
.header .header-topbar { background: transparent; }
.header-container { position: relative; }
.main-container { padding-top: 0; }
.header .header-bground { background-color: transparent; }
.header .form-search input.input-text { color: #595959; border-color: #aec900; }
.header .form-search input.input-text:hover { color: #595959; border-color: #f24e08; }
.header h1.page-title {
        }
.footer { color: #595959; }
.footer a { color: #aec900; }
.footer a:hover { color: #f24e08; }
.footer button.button span { background: #aec900; color: #ffffff; }
.footer button.button:hover span { background: #f24e08; color: #ffffff; }
.footer .col3-set { color: #595959; }
.footer .col3-set a { color: #aec900; }
.footer .col3-set a:hover { color: #f24e08; }
.footer .footer-menu { color: #595959; }
.footer .footer-menu a { color: #aec900; }
.footer .footer-menu a:hover { color: #f24e08; }