<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Trio_Rememberme>
			<version>1.0.0</version>
		</Trio_Rememberme>
	</modules>
	<global>
		<blocks>
		</blocks>
		<helpers>
		</helpers>
		<models>
			<trio_rememberme>
				<class>Trio_Rememberme_Model</class>
			</trio_rememberme>
			<core>
				<rewrite>
					<cookie>Trio_Rememberme_Model_Cookie</cookie>
				</rewrite>
			</core>
		</models>
	</global>
	<frontend>
		<layout>
			<updates>
				<rememberme>
					<file>rememberme.xml</file>
				</rememberme>
			</updates>
		</layout>
		<events>
			<customer_login>
				<observers>
					<trio_rememberme>
						<class>trio_rememberme/cookie</class>
						<method>setSessionRemembrance</method>
					</trio_rememberme>
				</observers>
			</customer_login>
			<customer_logout>
				<observers>
					<trio_rememberme>
						<class>trio_rememberme/cookie</class>
						<method>unsetSessionRemembrance</method>
					</trio_rememberme>
				</observers>
			</customer_logout>
		</events>
		<translate>
			<modules>
				<Trio_Rememberme>
					<files>
						<default>Trio_Rememberme.csv</default>
					</files>
				</Trio_Rememberme>
			</modules>
		</translate>
	</frontend>
</config>
